nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  border-bottom: 1px solid $greyColor;
  .navigation-actions {
    display: flex;
    align-items: center;
    gap: 40px;
    &-box {
      display: flex;
      align-items: center;
      gap: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
